:root {
    --fondo: gray;
    --texto: blue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fondo: red
        --texto: gray
    }
}
body {
    background-color: var(--fondo);
    color: var(--texto);
}