nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    list-style: none;
    padding: 15px;
}

nav a {
    color: red;
    text-decoration: none;
}